[submodule "dyninst"]
	path = dyninst
	url = https://github.com/blue42u/dyninst.git
[submodule "elfutils"]
	path = elfutils
	url = https://github.com/blue42u/elfutils.git
[submodule "hpctoolkit"]
	path = hpctoolkit
	url = https://github.com/HPCToolkit/hpctoolkit.git
